<!DOCTYPE>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<div class="row">
<div class="login-page-new">
    <div class="form-new">
        
            <h2>가입하기</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

            
                  <label for="user_이메일">이메일</label><br>
                  <input autofocus="autofocus" type="text" value="" name="user[email]" id="user_email" placeholder="email address">
            
                
                      <label for="user_비밀번호">비밀번호</label>
                      <em>(6자리 이상)</em>
                      <br>
                      <input autocomplete="off" type="password" name="user[password]" id="user_password" placeholder="password">
                
            
                    <label for="user_비밀번호 확인">비밀번호 확인</label><br>
                    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation">
            

                
                <button name="commit" value="Sign up">Sign up</button>
    
              <% end %>

              <%= render "devise/shared/links" %>
        
    </div>
</div>
</div> 
</div>
</body>
</html>
