<head>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/index.css">
    <link rel="stylesheet" href="../../assets/stylesheets/awesomplete.css" />
    <script src="../../assets/javascripts/awesomplete.js" async></script>
</head>

<form action="/point" method="POST">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <label for="comment">학교 선택</label><br>
            <input class=" dropdown-input" name="univ_name" list="mylist"/>
                <datalist id="mylist">
	               <% @university_name.each do |name| %>
		              <option><%= name %></option>
	               <%end%>
            </datalist>
            
            <br>
            <!-- 학과, 학기 입력 -->
            <div class="form-group">
                <label for="comment">학점 입력</label>
                <input type="number" name="point" class="form-control" rows="5" max="4.5" min="0" step="0.01"></input>
            </div>
      </div>
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-primary btn-lg sharp" border-radius="20px">제출하기</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    
<script>

    
var comboplete = new Awesomplete('input.dropdown-input', {
	minChars: 0,
});

Awesomplete.$('.dropdown-input').addEventListener("click", function() {
    if (comboplete.ul.childNodes.length === 0) {
		comboplete.minChars = 0;
		comboplete.evaluate();
	}
	else if (comboplete.ul.hasAttribute('hidden')) {
		comboplete.open();
	}
	else {
		comboplete.close();
	}
}); 
    
//$('.awesomplete').change(function(){
    //selection changed
//    alert(this.value);//this will give the selected option's value
//    alert($(this).find(':selected').text());//this will give the selected option's text
//});
//function verify(form) {
//  if (form.remarks.value.replace(/\s+/g,'') == '') {
//    alert('Please enter some remarks');
//    return false;
//  }
//}
$.ajax({
  method: "POST",
  url: "/home/point",
  data: { name: "John", location: "Boston" }
}).done(function( msg ) {
    alert( "Data Saved: " + msg );
});
</script>
</form>