<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="form-group">
      <label for="comment">학점 입력</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>

  </div>
      
     <div class="col-sm-offset-4 col-sm-4">
     <button type="button" class="btn btn-primary btn-lg sharp" border-radius="20px" value="#" >제출하기</button>
     </div>  
  <div class="col-md-4"></div>
</div>
