<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/skeleton.css">
    <link rel="stylesheet" href="../../assets/stylesheets/awesomplete.css" />
    <script src="../../assets/javascripts/awesomplete.js" async></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
    <div class="bg"></div>
<div class="container" style="text-align:center;">
    <div class="row" style="margin-top: 60px;">
        <div class="twleve columns">
            <div class="fontbox">
            <span style ="text-shadow: 1px 1px #666666;">    
            <span style= "font-size :25pt;">너네학교</span><br>
            <span style = "font-size: 30pt;">가장흔한게</span><br>
            <span style= "font-size :40pt;">    
            <span style="color:red;">A학점</span>이라고?</span></span>
            </div>
        </div>
    </div>
    <div class="row">
            <span style="font-size: 15pt; letter-spacing: 8px;  text-align:center;">
            전국대학학점분포알아보기
            </span>
    </div>
    <div class="row">
        <div class="twleve columns">
                <form id="search-form" action="/univ_list" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input type="text" name="search" id="search" class="awesomplete at" placeholder="우리 대학교 입력" list="mylist"/>
                <datalist id="mylist">
                   <% @university_list.each do |name| %>
                <option><%= name %></option><%end%>
                </datalist>
                <button type="submit" class="bt">검색</button>
                </form>
        </div>
    </div>
</div>
    <div class="row" style="text-align:center; margin-top: 50px;">
      <p style="font-size: 15px">전국 250여 대학교 성적평가 분포 현황<br>
      <span style="font-size: 10px; color: #808080;">자료제공:대학정보공시센터 | Directed by SAMNAMU</span></p>
    </div>
</div> 
  


<!--      <a href ='/input'><font size="3px"> 내 성적 확인하러 가기</font></a>-->
</body>
</html>
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82843164-2', 'auto');
  ga('send', 'pageview');

</script>
<script>
$(document).ready(function(){
     $('#cssmenu ul > li').removeClass("active");
});
$('.bt').on('click', function() {
    alert($('#search').value());
    //$("#form1").valid();
});
    
var comboplete = new Awesomplete('input.dropdown-input', {
	minChars: 0,
});

Awesomplete.$('.dropdown-input').addEventListener("click", function() {
    if (comboplete.ul.childNodes.length === 0) {
		comboplete.minChars = 0;
		comboplete.evaluate();
	}
	else if (comboplete.ul.hasAttribute('hidden')) {
		comboplete.open();
	}
	else {
		comboplete.close();
	}
}); 
    
//$('.awesomplete').change(function(){
    //selection changed
//    alert(this.value);//this will give the selected option's value
//    alert($(this).find(':selected').text());//this will give the selected option's text
//});
//function verify(form) {
//  if (form.remarks.value.replace(/\s+/g,'') == '') {
//    alert('Please enter some remarks');
//    return false;
//  }
//}
$.ajax({
  method: "POST",
  url: "/home/point",
  data: { name: "John", location: "Boston" }
}).done(function( msg ) {
    alert( "Data Saved: " + msg );
});
</script>