<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/index.css">
    <link rel="stylesheet" href="../../assets/stylesheets/awesomplete.css" />
    <link rel="stylesheet"  href="../../assets/stylesheets/search.css">
    <script src="../../assets/javascripts/awesomplete.js" async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
<div class="grid-container">
  <div class="grid-element header">
  </div>
  <div class="grid-element sidebar">
    <p>전국 대학 학점 분포</p>
  </div>
  <div class="grid-element main">
    <form onsubmit="submitFn(this, event);" id="search-form" action="/univ_list" accept-charset="UTF-8" method="get">
        <div class="search-wrapper">
            <div class="input-holder">
              <input name="utf8" type="hidden" value="✓">
                <input type="text" name="search" id="search" class="search-input" placeholder="대학교 입력" list="mylist"/>
                 <datalist id="mylist">
                   <% @university_name.each do |name| %>
                   <option><%= name %>
                   </option>
                   <%end%>
                 </datalist>
              
              <button class="search-icon" onclick="searchToggle(this, event);" value="Search">
              <span></span>
              </button>
            </div>
              <span class="close" onclick="searchToggle(this, event);"></span>
              <div class="result-container"></div>
        </div>
     </form>
  </div>
  <div class="grid-element extra">
      <a href ='/input'><font size="3px"> 내 성적 확인하러 가기</font></a>
  </div>
  <div class="grid-element footer"></div>
</div>    
</body>
</html>
    

<script>

    
var comboplete = new Awesomplete('input.dropdown-input', {
	minChars: 0,
});

Awesomplete.$('.dropdown-input').addEventListener("click", function() {
    if (comboplete.ul.childNodes.length === 0) {
		comboplete.minChars = 0;
		comboplete.evaluate();
	}
	else if (comboplete.ul.hasAttribute('hidden')) {
		comboplete.open();
	}
	else {
		comboplete.close();
	}
}); 
    
//$('.awesomplete').change(function(){
    //selection changed
//    alert(this.value);//this will give the selected option's value
//    alert($(this).find(':selected').text());//this will give the selected option's text
//});
//function verify(form) {
//  if (form.remarks.value.replace(/\s+/g,'') == '') {
//    alert('Please enter some remarks');
//    return false;
//  }
//}
$.ajax({
  method: "POST",
  url: "/home/point",
  data: { name: "John", location: "Boston" }
}).done(function( msg ) {
    alert( "Data Saved: " + msg );
});
</script>