<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../../assets/stylesheets/normalize.css">
  <link rel="stylesheet" href="../../assets/stylesheets/skeleton.css">

</head>
<body>
  <div class="container">
    <div class="row">
<!--제목 container-->
       <div class="twelve columns">
           <div class="row">
              <div class="twelve columns"; style="text-align:center;">
                  <p> <span style = "font-size: 30pt; font-family: BMDOHYEON; src: /assets/fonts/BMDOHYEON.ttf;">전국 대학 학점 분포<br><span style = "display: block; margin-top: -2px; font-size: 15pt; word-spacing: 22px;" >알 아 보 기</span></span></p>
              </div>
           </div>
    
<!--학기 및 과목 선택 container -->
<!--type 바꿔야함 -->
           <div class="row">
               <div class="six columns">
                   <form action="/univ_list" method="get">
                    <button type="submit" name="is_major" value="true">전공</button>
                  <button type="submit" name="is_major" value="false">교양</button>
              <input type="hidden" name="utf_8" value="✓" />
              <input type="hidden" name="search" value="<%= @university_name %>" />
              <input type="hidden" name="semester" value="<%= @semester %>" />
                    </form>
               </div>

               <div class="six columns">
                   <form id="semesterForm1" action="/univ_list" method="get">
                        <a href="#" onclick="document.getElementById('semesterForm1').submit();">1학기</a>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="<%= @university_name %>" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="spring" />
                   </form>
                   <form id="semesterForm2" action="/univ_list" method="get">
                        <a href="#" onclick="document.getElementById('semesterForm2').submit();">2학기</a>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="<%= @university_name %>" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="fall" />
                    </form>
               </div>
            </div>
        <div>
            <div class="row">
                <div class="tweleve columns">
                    <input type="text" name="search" id="search" class="awesomplete" placeholder="대학교 입력" list="mylist"/>
                    <datalist id="mylist">
                       <% @university_name.each do |name| %>
                    <option><%= name %></option>
                    <%end%>
                    </datalist>
                </div>
            </div>
            <div class="row">
                <div class="tweleve columns">
                    <button type="button">비교 학교 추가하기</button>
                </div>
            </div>
            <div class="row">
                <div class="tweleve columns">
                     <form action='/univ_list' method='GET'  style="display: inline;">
                        <button type="submit" class="btn_rand btn-primary">랜덤</button>
                        <input type="hidden" name="utf_8" value="✓" />
                        <input type="hidden" name="search" value="random" />
                        <input type="hidden" name="is_major" value="<%= @is_major %>" />
                        <input type="hidden" name="semester" value="<%= @semester %>" />
                     </form>
                </div>
            </div>
        </div>
    </div>
<!--ㅇㅇ대학교 분포현황-->
    <div class="row">
        <div class="tweleve columns">
             <span style = "font-size: 20pt; font-family: BMDOHYEON; src: /assets/fonts/BMDOHYEON.ttf;"><%= @university_name %></br>
             학점 분포 현황<br>
        </div>     
    </div>
    <div class="row">
        <div class="two columns">
            <span style = "font-size: 15pt; color: #808080">(<%= @semester_string %>학기 - <%= @major_string %>)
             </span>
        </div>
        <div class="ten columns">
            <p>설명</p>
        </div>
    </div>
    <div class="row">
        <div class="tweleve columns">
            <div id="barchart" class="chart1"></div>
        </div>
    </div>
</body>
</html>
