.awesomplete {
    max-width: 340px;
}

.bt {
    width: 90px;
    height: 50px;
    margin : 10px auto;
    display: inline-block;
    border-radius: 3px;
    padding:0px 0px 0 0px;
    font-size: 18px;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 1.0;
    background-color: #333;
    border-color: #333;
    color:aliceblue;
    vertical-align: baseline;
}

.btadd {
    width: 300px;
    height: 50px;
    margin : 5px 0 0 0;
    display: inline-block;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 1.0;
    background-color: #333;
    border-color: #333;
    color:aliceblue;
}

.randombt {
    height: 45px;
    margin : 5px 0 0 10px;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    color: #f5f5f5;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=100); 
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    background-color: #333;
    border-color: #333;
}

