table {
    
    font-family: 'Nanum Barun Gothic', sans-serif;
}

/*margin class*/
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.thead-inverse th {
    text-align: center;
    font-weight: normal;
}

tbody td {
    text-align: center;
}

.table>tbody>tr>td {
    text-align: center;
}


@media only screen and (max-width: 640px) {
	#tableku td:nth-child(1),
	#tableku th:nth-child(1),
    #tableku td:nth-child(4),
	#tableku th:nth-child(4),
	#tableku td:nth-child(5),
	#tableku th:nth-child(5),
	#tableku td:nth-child(6),
	#tableku th:nth-child(6){display: none;}
}

.list-bt {
    
    height: 36px;
    margin: 10px auto;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    background-color: #FFFFFF;
    background-color: #333;
    border-color: #333;
    color: aliceblue;
    font-size: 14px;
    float: right;
}

@media screen and (max-width: 500px) {
.list-bt {
  width: 90px;  

}

.thsize-one {
    width: 80%;
}
.thsize-two {
    width: 20%;
}
}

table { 
    table-layout: fixed;
}

.text-align{
    text-align:left !important;
}


.post-title {
    background-color: rgba(215, 215, 215, 0.2);
    border-top: solid 2px #696969;
    border-bottom: solid 0.2px #656565;
    padding: 4px 9px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #252525;
    margin-top: 100px;
}

.post-writer {
    border-bottom: solid 0.2px #656565;
    font-size: 14px;
    letter-spacing: 0px;
    padding: 4px 9px;
}

.margin {
    display: inline-block;
    margin-left: 30px;
    color:black;
}

.post-content {
    margin-top: 20px;
}

.post-comment {
    vertical-align: middle;
    color: #696969;
    font-size: 14px;


}

.comment-name {
    margin-right: 10px;
    font-size: 12px;
    color: #252525;
    display: inline-block;
}

.comment-time {
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #9a9a9a;
    display: inline-block;
}

.comment {
    font-size: 15px;
    color: #252525;
}

.comment-box {
    border-top: solid 2px #d8d4d4;
    padding-top: 5px;
    padding-bottom: 30px;
}

.well {

    border-top: solid 2px #d8d4d4;
    padding-top: 50px;
}

table a {
    color: black;
}

.gray {
    background-color:  #F2F2F2;
    height: 100%;
}

.bt-font {
    font-size: 14px;
}

.form-control {
    resize: none;
}